*{
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
}
.profile-image img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  width: 20%;
  box-shadow: 3px 3px 15px 0px #00000036;
}

@media screen and (max-width: 390px) {
  .profile-image img{
    width: 50%
 }
} 
.social-media {
  margin-top: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 15px;
  grid-auto-flow: column;
}
.social-media .handle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.social-media div .fa {
  color: #000;
  font-size: 30px;
  line-height: 60px;
  transition: 0.5s;
  background: transparent;
}

.social-media div .fa-facebook:hover {
  color: #1878f1;
}
.social-media div .fa-twitter:hover {
  color: #1da1f3;
}
.social-media div .fa-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.social-media div .fa-youtube-play:hover {
  color: #cd201f;
}
.social-media div .fa-linkedin:hover {
  color: #0077b5;
}
.social-media div .fa-meetup:hover {
  color: #e51937;
}
.social-media div .fa-snapchat:hover {
  color: #f6f400;
}
